/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/* ////////////////////////////header */

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 600;
  line-height: 1.25;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
  margin: 0 0 1em 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* ////////////////////////////////companies */

#companies {
    padding: 20px 10px 30px;
    background-color: #F3EAE2;
    text-align: center;
    font-size: 20px;
}
#companies p {
    margin-bottom: 30px;
}
#companies .logos {
    display: flex;
    row-gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
#companies .logos img {
    height: 39px;
}

/* ///////////////////////////////footer */
#footer{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-top:1px solid #454245;
}
#footer ul{
    list-style-type: none;
    padding: 0;
}
#footer .items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#footer .items:hover {
    color: #454245;
}
#footer .social-media ul{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
#footer small{
    text-align: center;
    color: #454245;
    
}